html
{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body
{
  font-family: 'Poppins',sans-serif;
  font-size: normal;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  color: #000000;
  pointer-events: none;

  padding-bottom: 40px;
  margin: 10px;
}

.page1
{
  padding-left: 150px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.header
{
  padding-bottom: 20px;
}

.header::after
{
  content: "";
  clear: both;
  display: table;
}

#profilePic
{
  height: 160px;
  padding-right: 20px;
}

#tagline
{
  font-family: 'Roboto Condensed','Poppins', sans-serif;
  display: inline-block;
  padding-bottom: 0px;
}

.intro
{
  position: absolute;
  transform: translateY(50%);
  padding-right: 40px;
  max-width: 830px;
}

.header h1
{
  padding-top: 36px;
  font-family: 'PT Serif', 'Poppins', sans-serif;
  letter-spacing: 0:04em;
  font-size: 55px;
  font-weight: bold;
  font-style: normal;
  line-height: 110%;
  margin: 0px;
}

.intro h2
{
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 15px;
  letter-spacing: 0.04em;
  margin: 0px;
}

.intro a
{
  color: #000000;
  text-decoration: none;

}

.intro a:hover
{
  color: #A02CC9;
}

#button
{
  font-family: 'Roboto Condensed','Poppins', sans-serif;
  font-weight: normal;
  letter-spacing: 0.04em;
  font-size: 22px;
  background-color:#A02CC9;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right:30px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

#button:hover
{
  background-color: #BE5DE0;
}

#arrow
{
  padding-left: 10px;
  height: 26px;
  width: auto;
  margin: auto 0px;
  display: inline;
  vertical-align: top;
}

.main
{
  padding-top: 40px;
  display: block;
  margin: auto;
  box-sizing: border-box;
}

.row
{
  display: flex;
  flex-flow: wrap;
  max-width: 900px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0px 10px;
}

.column
{
  display: flex;
  flex-direction: column;
  width: 410px;
}

.item
{
  display: block;
}

.item img
{
  width: 100%;
  height: auto;
}

.item-text
{
  padding: 0px 10px;
  box-sizing: border-box;
}

.item-text h1
{
  font-family: 'Roboto Condensed','Poppins', sans-serif;
  font-size: 18px;
}

.item-text h2
{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
}

.work-container
{
  box-sizing: inherit;
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
  filter: brightness(100%) blur(0px);
  transition: .5s ease;
  box-sizing: inherit;
}

.work-container .work-image
{
  object-fit: cover;
}

.work-container:hover .work-image
{
  transition: .5s ease;
  filter: brightness(40%) blur(2px);
}

.work-container:hover .label
{
  transition: .5s ease;
  opacity:1;
}

.label
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.label img
{
  padding-top: 16px;
}

#cibc
{
  object-position: 5% 50%;
}

#marsh
{
  object-position: 25% 50%;
}

@media screen and (max-width: 1090px){

  .page1
  {
    padding-left: 13.76%;
  }

}

@media screen and (max-width: 958px){
  .intro
  {
    max-width: 670px;
  }
}
