html
{
  overflow-x: hidden;
}

body
{
  font-family: 'Lato',sans-serif;
  font-size: normal;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  color: #32394A;
  align-items: center;
  text-align: center;

  /*background: #ECECEC;*/
}

.header
{
  width: 90%;
  margin: auto;
  padding-top:50px;
}

.header h1
{
  font-family: 'Pacifico', sans-serif;
  letter-spacing: 0:04em;
  font-size: 55px;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.04em;
  padding-top: 24px;
  padding-bottom: 30px;
  margin: auto;
  width: auto;
}

.header h2
{
  font-family: 'Lato';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  max-width: 755px;
  margin: auto;
  padding-bottom: 7px;
}

.profilePic
{
  position: relative;
  align-items: center;
}

.profilePic div
{
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
}

.profilePic img
{
    top: 50%;
    width: auto;
    height: auto;
}

.profilePic div
{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0%;
  right: 0%;
  max-width: 900px;
  margin: auto;
  height:2px;
  background: #C5BD7C;
}

.intro div
{
  max-width: 794px;
}

.nav
{
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav h1
{
  font-family: 'Lato';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
  margin: auto;
  padding-bottom: 10px;
}

.nav div
{
  margin: auto;
  max-width: 114px;
  height: 4px;
  background: #C5BD7C;
  align-items: center;
}

.main
{
  padding-bottom: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1066px;
  box-sizing: border-box;
}

.work::before
{
  content:"";
  display: table;
  clear:both;
  box-sizing: inherit;
}

.work::after
{
  content:"";
  display: table;
  clear:both;
  box-sizing: inherit;
}
.work
{
  margin-left: auto;
  margin-right: auto;
  box-sizing: inherit;
  display: block;
}

.work-half
{
  box-sizing: inherit;
  display: block;
  padding: 8px;
  float:left;
}

.main img
{
  filter: brightness(100%);
  transition: .5s ease;
  box-sizing: inherit;
}

.main img:hover
{
  filter: brightness(30%);
}

.work img:hover .label
{
  opacity:0;
}

.label
{
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media screen and (max-width: 595px) {

    .header h1
    {
      width:310px;
    }
}

@media screen and (max-width: 860px) {

    .header h2
    {
      max-width: 510px;
    }
}

@media screen and (max-width: 1082px) {

    .work-half
    {
      width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .header h2
    {
      width: 290px;
    }
}
